body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#titulo-pregunta {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.opciones {
    display: flex;
    flex-direction: column;
}

.opcion {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.opcion:hover {
    background-color: #45a049;
}

/* Estilo para preguntas de nivel 1 */
.question.level-1 {
    background-color: #e1f7d5;
}

/* Estilo para preguntas de nivel 2 */
.question.level-2 {
    background-color: #ffbdbd;
}

/* Estilo para preguntas de nivel 3 */
.question.level-3 {
    background-color: #c9c9ff;
}

/* Estilo para preguntas de nivel 4 */
.question.level-4 {
    background-color: #f1cbff;
}

/* Estilo para preguntas de nivel 5 */
.question.level-5 {
    background-color: #f7e1d5;
}
